<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=  req.params.category  %>></title>
</head>
<body>
    <%- include('./partials/nav') %>
    <% menuItem.forEach((oneItem) => { %>
      <h1><%=  oneItem.category %></h1>
        <li style="font-size: 20px;"> <%=  oneItem.name  %> </li>
        <li> Price: <%=  oneItem.price  %></li>
        <li> Rating: <%=  oneItem.rating  %></li>
        <li> Details: <%=  details.name  %></li>
        <br>
    <%  }) %>
  <h1>Full Menu</h1>
</body>
</html>
